@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cadastro-evento{
    width: 100%;
    height: 90vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    font-family: 'poppins';
    
}
#elemento1{
    position: absolute;
    margin-left: -5%;
    margin-top:-18%;
    width: 140px;
}
#elemento2{
    position: absolute;
    width: 7%;
    margin-left:88% ;
    margin-top:-10%;
    
}
#elemento3{
    position: absolute;
    margin-left: 79.9%;
    margin-top: 12.5%;
    height: 30%;
}
.menu{
    width: 100%;
    height: 100px;
    background-color: burlywood;
    display: flex;
    flex-direction: row;
    position:fixed;
    top: 0;
}
.box{
    display: flex;
    width: 90%;
    height: 90%;
    z-index: 2;
    margin-top: 10%;
    justify-content: center;
    /* background-color: blueviolet;    */
}
.form-box{
    background-color:#f8f5f69c;
    width: 35%;
    height: 100%;
    display: flex;
    /* flex-direction: column; */
    padding-left: 5%;
    /* justify-content: space-around; */
    border-radius: 20px 0 0 20px;
}
.modal{
    display: flex;
    justify-content: space-evenly;     
}
.moldal input{
    justify-content:;
}
.form-box form{
    margin-right:1px;
    margin-top: 20%;
}
.form-box .input-group{
    margin-top:30px;
}
.form-box .input-group label{
    color: #3d3d3d;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}
.form-box .input-group input{
    width: 100%;
    height: 40px;
    background-color: white;
    border-radius: 10px;
    outline: none;
    border: 2px solid transparent;
    padding: 15px;
    font-size: 15px;
    color: #616161;
    transition: all 0.4s ease;
    box-shadow: 1px 2px 0px 0px;
}
.form-box .input-group .modal{
    display: flex;   
}
.bottoms-box{
    background-color:#F8F5F69c;
    width: 65%;
    border-radius: 0 20px 20px 0;
    display: flex;
    padding-left: 5%;
    padding-right: 7%;
}
.bottoms-group{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content:center;
    padding-right:200px;
    padding-left: 60px;
    
}
#uploadevento{
    background-color:transparent;
    border: transparent;
    cursor: pointer;
}
#uploadatracao{
    background-color: transparent;
    border: transparent; 
    cursor: pointer;
     
}
#add{
    background-color: transparent;
    border: transparent;
}
.bottoms-group-add{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    margin-left:43%;
    margin-top: 14%;
    cursor: pointer;
}
.alterarimagem{
    height: 40px;
    background-color: #007E70;
    border-radius: 10px;
    /* outline: none; */
    border: none;
    /* margin-top: 15px; */
    color: white;
    cursor: pointer;
    font-size: 20px;
}
.group-botoes{
    border-radius: 5px;
    position: absolute;
    margin-top:36%;
    margin-left: 40%;
    width: 28%;
    display: flex;
    justify-content: space-between;
}
#salvar{
    height: 30px;
    width: 130px;
    background-color: #007E70;
    border-radius: 10px;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 24px;
}
#cancelar{
    height: 30px;
    width: 150px;
    background-color: #FF3877;
    border-radius: 10px;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 24px; 
}
h2{
    position: absolute;
    font-size: 34px;
    margin-top: 30px;
}