@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('menu-adm.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    /* overflow: hidden; */
}

.principal {
    width: 100vw;
    height: 90vh;
    z-index: 1;
}

.principal .box {
    width: 90%;
    height: 90%;
    background-color: rgba(248, 245, 246, 0.65);
    margin: auto;
    margin-top: 40px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    /* gap: 20px; */
    /* transition: all 0.8s ease; */
}

/* .principal .box:hover {
    backdrop-filter: blur(20px);    
} */

.bolas-fundo {
    width: 100vw;
    height: 90vh;
    position: relative;
    top: -90vh;
    z-index: -3;
}

.bolas-fundo .bola-verde1 {
    position: absolute;
    left: -40px;
    top: 6vh;
    z-index: -3;
}

.bolas-fundo .bola-verde2 {
    position: absolute;
    right: -50px;
    top: 6vh;
    z-index: -3;
}

.bolas-fundo .bola-rosa {
    position: absolute;
    right: -100px;
    bottom: -100px;
    z-index: -3;
}

.box .form-box{
    /* min-width: 100%; */
    min-height: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: violet;
    justify-content: space-between;
    width: 100%;
    height: 40%;
}
/* display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 40%;
    padding-right: 50px;
    background-color: blue; */
.form-box form{
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #007E70;
    min-width: 410px;
}
.input-group{
    display: flex;
    flex-direction: column;
    height: 70px;
    margin-top:;
}

.form-box .input-group label{
    color: #3d3d3d;
    font-weight: bold;
    display: flex;
    margin-bottom: 5px;
}
.form-box .input-group input{
    width: 100%;
    height: 40px;
    background-color: white;
    border-radius: 10px;
    outline: none;
    border: 2px solid transparent;
    padding: 15px;
    font-size: 15px;
    color: #616161;
    transition: all 0.4s ease;
    box-shadow: 1px 2px 0px 0px;
}
.form-box .input-group .modal{
    display: flex;   
}
.bottoms-box{
    width: 65%;
    display: flex;
    align-items: center;
    /* padding-left: 5%;
    padding-right: 5%; */
    height: 100%;
    /* min-width: 300px;
    min-height: 700px; */
    background-color: chocolate;
    
}

.bottoms-box .bottoms-group{
    display: flex;
    flex-direction: column;
    /* width: %; */
    /* padding-right:200px; */
    padding-left: 100px;
    /* background-color: #3d3d3d; */
    
}

#uploadevento{
    background-color:transparent;
    border: transparent;
    cursor: pointer;
}
#uploadatracao{
    background-color: transparent;
    border: transparent; 
    cursor: pointer;
     
}
#add{
    background-color: transparent;
    border: transparent;
}
.bottoms-group-add{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    margin-left:43%;
    margin-top: 14%;
    cursor: pointer;
}
.box .btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 8%;
    padding-right: 50px;
    background-color: blue;

}

.btns .voltar {
    height: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.voltar .btn-voltar {
    width: 40px;
}

.btns .btn-cancelar-salvar {
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
    padding: 10px;
}

.btn-cancelar-salvar .btn {
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    width: 150px;
    height: 40px;
    background-color: #FF3877;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.35);
}

.btn-cancelar-salvar .btn-salvar {
    background-color: #007E70;
    box-shadow: 0px 5px 10px 0px rgba(0, 126, 111, 0.50);
}

.btn-cancelar-salvar .btn a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 1.3rem;
    text-transform: uppercase;
}


@media screen and(max-width: 400px) {
    .box .form-box{
        flex-direction: column;
        background-color: #FF3877;
    }
    
}